@layer mantine, mantine-datatable, mantine-contextmenu;

::selection {
  color: var(--mantine-color-dark-9);
  background: var(--mantine-color-white);
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
