:root {
  @mixin dark {
    &[data-variant="filled"] {
      color: var(--mantine-color-red-9);
    }
  }
}

body {
  @mixin dark {
    background-color: var(--mantine-color-dark-9);
  }
}

/* AppShell */

.mantine-AppShell-main {
  @mixin dark {
    background-color: var(--mantine-color-dark-9);
  }
}

.mantine-AppShell-header {
  @mixin dark {
    background-color: var(--mantine-color-dark-9);
  }
}

.mantine-AppShell-navbar {
  @mixin dark {
    background-color: var(--mantine-color-dark-9);
  }
}

/* Paper */

.mantine-Paper-root {
  @mixin dark {
    background-color: var(--mantine-color-dark-8);
  }
}

/* Menu */

.mantine-Menu-dropdown {
  @mixin dark {
    background-color: var(--mantine-color-dark-8);
  }
}

.mantine-Menu-item[data-hovered="true"] {
  @mixin dark {
    background-color: var(--mantine-color-dark-6);
  }
}

/* NavLink */

.mantine-NavLink-root {
  padding-left: 0;
  padding-right: 0;

  @mixin hover {
    background-color: transparent;
  }
}

/* Modal */

.mantine-Modal-content {
  @mixin dark {
    background-color: var(--mantine-color-dark-8);
  }
}

.mantine-Modal-header {
  @mixin dark {
    background-color: var(--mantine-color-dark-8);
  }
}

.sidebar-toggle-button-icon {
  @mixin dark {
    color: var(--mantine-color-dimmed);
  }
}

/* Input */

.mantine-Input-input {
  @mixin dark {
    &[data-variant="default"] {
      background-color: var(--mantine-color-dark-8);
    }
  }
}

/* DropDown */

.mantine-Select-dropdown {
  @mixin dark {
    background-color: var(--mantine-color-dark-8);
  }
}

.ProseMirror {
  --mantine-spacing-md: 0px;
}

.mantine-Pagination-control {
  @mixin dark {
    &[data-active] {
      --pagination-active-color: var(--mantine-color-dark-9);
    }
  }
}

.mantine-RichTextEditor-toolbar {
  @mixin dark {
    background-color: var(--mantine-color-dark-8);
  }
}

.mantine-Paper-root {
  @mixin dark {
    background-color: var(--mantine-color-dark-8);
  }

  @mixin light {
    background-color: var(--mantine-color-gray-1);
  }
}

.tiptap a {
  color: var(--mantine-color-blue-3);
}
